@font-face {
    font-family:kajiro ;
    src: url("./Kajiro Bold.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gilroy";
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100vh;
}

#back{
    width: 100%;
    height: 100vh;
}
#back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#top{
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    pointer-events: none;
    position: absolute;
}

#workingarea{
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    max-width: 1600px;
    /* border: 1px solid red; */

}
#nav{
    pointer-events: all;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0;
}
#nav img{
    height: 60px;
}
#nleft,#nright {
    display: flex;
    align-items: center;
    gap: 40px;
}


#nleft a{
    text-decoration: none;
    color: white;
    font-family: "gilroy";
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

#nav a{
    text-decoration: none;
    color: white;
    font-family: "gilroy";
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

#hero{
    width: 100%;
    justify-content: space-between;
    display: flex;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%,-50%);
    font-family: kajiro;
}
#heroleft{
    min-width: 50%;
    margin-top: 5vw;
}
#heroright{
    width: 17%;
    color: azure;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 5vw;
}
#heroleft .elem h1{
    line-height: .9;
    font-family: "kajiro";
    color: azure;
    font-weight: 100;
    font-size: 11vw;
    margin-top: 1vw;
    position: absolute;
    top: 100%;
    left: 0;
} 

#heroleft .elem {
    height: 10vw;
    overflow: hidden;
    position: relative;

}
#heroleft button{
    padding: 0.5vw 3vw;
    font-size: 2vw;
    font-family: "kajiro";
    pointer-events: all;
}
#heroright p{
    font-size: 14px;
    font-weight: 300;
    text-align: right;

}
#heroright #imagediv{
    width: 100%;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-size: cover;
    background-position: center;
    background-image: url(https://images.unsplash.com/photo-1606814893907-c2e42943c91f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8Z2lybHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=700&q=60);
}
#heroright p:nth-child(3){
    margin-bottom: 100px;
}

#heroright p:nth-child(1){
   top: 0;
}